<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gordon and Jacob's GlowGuide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/styles.css" rel="stylesheet">
</head>

<body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm mb-0">

        <div class="container">
            <a class="navbar-brand" href="/">Gordon & Jacob's GlowGuide🌟</a>
                    {% if session.get("user_id") %}
                         <ul class="navbar-nav me-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/preset">Preset Routines</a></li>
                            <li class="nav-item"><a class="nav-link" href="/favorites">Favorites</a></li>
                             <li class="nav-item"><a class="nav-link" href="/search">Search</a></li>
                        </ul>
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                        </ul>
                    {% endif %}
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="mb-0 text-center">
            {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>                    
                </div>
                {% else %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>                    
                </div>
        {% endif %}
        {% endfor %}
            </div>
        {% endif %}
    {% endwith %}   
    <main class="container pb-5 text-center">
        {% block main %}{% endblock %}
    </main>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>